<!--footer design-->
<footer class="text-center py-3 bg-dark text-white mt-5">
    <p>&copy; Copyright Draw 3 All Rights Reserved. Contact Us: drawthreetcg@gmail.com</p>
    </footer>
  </body>
</html>
