<!--the landing page/homepage code-->

<%- include('Partials/header') %>
<%- include("Partials/navbar")%>


    <!--code for adding the logo of the website-->
    <div class="d-flex justify-content-center mb-4">
        <img src="/images/white.png" alt="DrawThree Site Logo" style="max-width: 240px; width: 100%;" />
    </div>
    <h1 class="text-center mb-4"><%= title %></h1> <!--page title-->
    <p class="text-center mb-4">If you are Tournament Host and are already registered with us, please proceed to "Create A Tournament" in order to setup your event!</p>
    <p class="text-center mb-4">If you are a player, check out our Store Locator to find Locals near you, or head over to Register in order to sign up for a tournament!</p>


    <!--code that adds the login/register buttons-->
    <div class="d-flex justify-content-center gap-3">
        <a href="/login" class="btn btn-primary btn-lg">
            Login!
        </a>

        <a href="/register" class="btn btn-outline-primary btn-lg" >
            Register!
        </a>
    </div>

    </div>
    <%- include('Partials/footer') %>
