<!--the landing page/homepage code-->

<%- include('Partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<<<<<<< HEAD
    <a href="/findastore">Find Store</a>
    <a href="/tournament">Create/Join a Tournament</a>
=======
    <a href="store">Find a Store</a><br>
    <a href="tournament">Create/Join a Tournament</a>
>>>>>>> fabbc98787dfc7cb3f7a0c51734ccf75ddfbc2d8
    <%- include('Partials/footer') %>
