<!--the landing page/homepage code-->

<%- include('Partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/store">Find Store</a>
    <a href="/tournament">Create/Join a Tournament</a>
    <%- include('Partials/footer') %>
