<%- include('partials/header') %>
  <title>Select a City</title>
</head>
<body>
  <h1>Pick a City :3</h1>

  <% cities.forEach(c => { %>
    <form action="/findastore/<%= c %>">
      <button><%= c.toUpperCase() %></button>
    </form>
  <% }); %>

  <br>
  <a href="/">Home</a>
<%- include('partials/footer') %>
